body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

/* img {
  width: 100%;
} */

h1 {
  font-size: 5em;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 3em;
  margin: 0;
  text-align: center;
}

p {
  text-align: center;
  font-size: 2.2em;
  margin: 2em 0;
}

#screen {
  display: grid;
  aspect-ratio: 16/9;
  cursor: pointer;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
  user-select: none;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(Background/WarWasteland.png);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#game_elements {
  cursor: crosshair;
}

#zombieContainer1 {
  position: absolute;
  left: 10%;
  bottom: 10%;
}

#zombieContainer2 {
  position: absolute;
  /* left: 12%; */
  bottom: 12%;
}

#zombieContainer3 {
  position: absolute;
  /* left: 8%; */
  bottom: 8%;
}

#zombieContainer4 {
  position: absolute;
  /* left: 6%; */
  bottom: 6%;
}

#soldierContainer1 {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

#soldierContainer2 {
  position: absolute;
  /* left: 7%; */
  bottom: 7%;
}

#soldierContainer3 {
  position: absolute;
  /* left: 9%; */
  bottom: 9%;
}

#soldierContainer4 {
  position: absolute;
  /* left: 6%; */
  bottom: 6%;
}

/* GAME UI = SCOREBOARD, HEARTS, TIMEBOARD,  */

#game_ui_lifeBoard {
  overflow: hidden;
  position: absolute;
  left: 2vw;
  top: 0vw;
  pointer-events: none;
  color: brown;
  font-size: 1em;
}

#lifeBoard {
  display: grid;
  margin-block-start: 0.5em;
  grid-template-columns: 3.3em 3.3em 3.3em;
}

.active_heart {
  filter: drop-shadow(0 0 1.5px rgb(224, 126, 108));
}
.lost_heart {
  filter: url(HUD/hud_heartEmpty1.png);
}

#game_ui_scoreBoard {
  overflow: hidden;
  position: absolute;
  right: 2vw;
  top: 0vw;
  pointer-events: none;
  color: brown;
  font-size: 2em;
}

#scoreBoard {
  /* right: 2vw;
  top: 0vw; */
  display: grid;
  gap: 0.4em;
  justify-items: end;
}

#game_ui_timeBoard {
  position: absolute;
  pointer-events: none;
  border-radius: 13px;
  height: 18px;
  width: 300px;
  padding: 3px;
  top: 1%;
  right: 41%;
}

#timeBoard {
  position: relative;
}

#time_container {
  position: absolute;
  width: 100%;
  aspect-ratio: 35/7;
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.383);
}

#time_sprite {
  position: absolute;
  background-color: rgb(248, 248, 248);
  width: 100%;
  height: 100%;
  transform-origin: left;
}

/* --------Time sprite animation------------ */
.fill {
  animation-name: fill_kf;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 30s;
}

@keyframes fill_kf {
  0% {
    scale: 1 1;
    background-color: rgb(244, 244, 244);
  }
  50% {
    background-color: rgb(255, 126, 126);
  }
  100% {
    scale: 0 1;
    background-color: red;
  }
}

/* --------START - GAMELOST - LEVELCOMPLETE */

#start {
  aspect-ratio: 16/9;
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(Background/BackgroundStart.jpg);
  color: whitesmoke;
}

#gameOver {
  aspect-ratio: 16/9;
  grid-area: 1 / 1;
  z-index: 999;
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url(Background/backgroundLost.png);
  color: whitesmoke;
}

#levelComplete {
  aspect-ratio: 16/9;
  grid-area: 1/1;
  z-index: 999;
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url(Background/backgroundWIN.png);
  color: gold;
}

.hidden,
#gameOver.hidden,
#levelComplete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

button {
  padding: 0.25em 0.8em;
  font-size: 2.5em;
  margin: auto;
  background-color: red;
  color: rgb(241, 241, 241);
  cursor: pointer;
  border-radius: 20px;
}

button:hover {
  animation-name: chaosButton_kf;
  animation-duration: 0.08s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes chaosButton_kf {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(4px, 4px) rotate(4deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-4px, 4px) rotate(-4deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* ----------Zombie and human containers------------
 */
