body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

/* img {
  width: 100%;
} */
h2 {
  font-size: 3em;
  margin: 0;
}

p {
  text-align: center;
  font-size: 1.2em;
  margin: 2em 0;
}

#screen {
  width: 100%;
  display: grid;
  aspect-ratio: 16/9;
  cursor: pointer;
  grid-template: 100% / 100%;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
  user-select: none;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(Background/WarWasteland.png);
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

/* GAME UI = SCOREBOARD, HEARTS, TIMEBOARD,  */

#game_ui_lifeBoard {
  overflow: hidden;
  position: absolute;
  left: 2vw;
  top: 0vw;
  pointer-events: none;
  color: brown;
  font-size: 1em;
}

#lifeBoard {
  display: grid;
  margin-block-start: 0.5em;
  grid-template-columns: 3.3em 3.3em 3.3em;
}

#game_ui_scoreBoard {
  overflow: hidden;
  position: absolute;
  right: 2vw;
  top: 0vw;
  pointer-events: none;
  color: brown;
  font-size: 2em;
}

#scoreBoard {
  /* right: 2vw;
  top: 0vw; */
  display: grid;
  gap: 0.4em;
  justify-items: end;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
}

#game_ui_timeBoard {
  overflow: hidden;
  position: absolute;
  right: 70%;
  top: 0vw;
  pointer-events: none;
  color: brown;
  font-size: 2em;
}

#timeBoard {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-start: 0.5em;
}

/* .hidden,
#game; */
